<nav class="navbar">
  <div class="container-fluid m-0">
    <a class="navbar-brand d-flex align-items-center justify-content-center gap-2" href="#"> 
        <mat-icon class="imgLogo" svgIcon="logo"></mat-icon>   
        <h1 class="py-2  mb-0 logo text-center "> Runners Car Rental</h1>
    </a>
    

  
        <ul class="d-flex gap-4 align-items-center justify-content-center mb-0">
                <a  routerLink="/home" routerLinkActive="active-link">Home</a>
                <a href="">Vehicle</a>
                <a href="">Details</a>
                <a href="">About Us</a>
                <a routerLink="/createAccount" >Contact Us</a>
        </ul>
   
        <button>Sign Up</button>
 

  </div>

  
</nav>

