/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{

    /* Font family Definition */
    --font-family: 'Inter',Arial,sans-serif;


    /* Font size Scale*/
     --font-size-1: 16px;
     --font-szie-2: 12px;

    /*
    Global colors
    */

    --color-primary: #0077B6;
    --color-accent: #FCA311;
    --color-background-light: #FFFFFF;
    --color-background-medium: #F7F8FA;
    --color-border: #DCDCDC;

    --color-text-dark: #000000;
    --color-text-medium: #555555;
    --color-status-success: #38A3A5;
    --color-status-warning: #FFBF69;
    --color-status-danger: #D62828;


    /*Global Padding spacing
    */
}


html, body { height: 100%; }
body {
     margin: 0; 
     font-family: var(--font-family); 
     background-color: var(--color-background-light);
     color: var(--color-text-dark);
    }

